


<h1> bastante feo por ahora, de aqui para abajo se pondra la preview de la app con imagenes</h1>

    <div class="row pb-0">
        <div class="col-sm-12 pb-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">panel de dashboard </h5>
                    <p class="card-text">aun falta integrar graficas, pero necesito guardar datos de api en db antes</p>
                    <%= image_tag("dashboard.png")  %>
                </div>
            </div>
        </div>
    </div>

<div class="row">
        <div class="col-sm-12 pt-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">panel de paypal</h5>
                    <p class="card-text">integracion no funcional todavia, en proceso junto con mailer</p>
                    <%= image_tag("paypal.png")  %>
                </div>
            </div>
        </div>
    </div>



  

