


<% if current_client %>
<%= link_to "log out", destroy_client_session_path, method: :delete %>
<%else%>


<button type="button" class="btn btn-light"><%= link_to "log in", new_client_session_path %></button>
<button type="button" class="btn btn-light"><%= link_to "log in as admin", rails_admin_path %></button>
<%= render "home/visit" %>
<%end %>

